* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    width: 100%;
    height: 13vh;
    background: #1f2937;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: end;
    z-index: 1;
}

.logo {
    width: auto;
    height: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-flex;
    margin: 0 15px;
}

nav ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 2rem;
}

#home {
    background: rgb(0, 162, 255);
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
}
#home p {
    font-size: 1rem;
}

em {
    background-color: rgb(255, 166, 0);
    border: 4px solid orange;
    display: inline-block;
    transform: rotate(-5deg);
    z-index: 0;
}

.attract {
    margin-top: 0;
}

#product {
    margin-top: 2vh;
}

.image {
    padding: 0;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1%;
    row-gap: 2px;
}

figure {
    border: 1px solid black;
    border-radius: 2vw;
    width: 23%;
    height: 350px;
    margin: 0;
}

figure a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

img {
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    width: 100%;
    height: 50%;
}

figcaption {
    padding: 2px;
    width: 100%;
    font-size: 2.5vh;
    color: black;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
.pdt-name {
    width: 100%;
    margin: 0;
    height: 30%
}

.price {
    text-align: center;
    font-weight: bold;
    padding-left: 5px;
    height: 10%;
    margin: 0;
}

.cate {
    color: grey;
    width: 100%;
    height: 10%;
    margin: 0 0 2vh 0;
}

.cta-button {
    background: #336be4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#home, #product, #testimonies, #sign-up {
    padding: 15px;
    margin-top: 7vh;
    margin-bottom: 7vh;
    text-align: center;
    scroll-margin-top: 10vh;
}

blockquote {
    margin: 20px 0;
    padding: 10px;
    background: rgb(211, 209, 209);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background: #35424a;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/** 4k laptop **/
@media screen and (min-width: 1441px) {
    body {
        font-size: 50px;
    }
    .logo {
        height: 120px;
        width: auto;
    }
    nav ul li a {
        font-size: 3.5rem;
    }
    #home p {
        font-size: 2.7rem;
    }
    .image {
        row-gap: 20px;
    }
    figure {
        height: 800px;
    }
}
/** L laptop **/
@media screen and (max-width: 1440px) and (min-width: 1040px) {
    body {
        font-size: 30px;
    }
    .logo {
        height: 78px;
        width: auto;
    }
    nav ul li a {
        font-size: 2.7rem;
    }
    #home p {
        font-size: 1.7rem;
        padding: 12px 0 5px 0;
        margin-bottom: 0;
    }
    .image {
        row-gap: 15px;
    }
    figure {
        height: 450px;
    }
    #testimonies {
        font-size: 1.5rem;
        margin: 0 60px;
    }
}
  /** laptop **/
/* @media screen and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
    nav {
        padding: 0;
    }
    nav ul li a {
        font-size: 20px;
        padding: 0;
    }
    figure {
        width: 24%;
        height: 460px;
    }
    .logo {
        height: 60px;
        width: 70px;
        padding: 0;
    }
    img {
        height: 60%;
    }
    figcaption {
        height: 40%
    }
  }
@media screen and (max-width: 1024px) {
    .logo {
        height: 70px;
        width: 60px;
        padding: 20px 0 5px 0;
    }
    figure {
        height: 300px;
    }
    body {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 20px;
    }
} */
/** tablet **/
@media screen and (max-width: 900px) and (min-width: 700px) {
    #home p {
        font-size: 1.3rem;
    }
    .attract {
        font-size: 1.3rem;
    }
    figure {
        width: 30%;
        height: 330px;
    }
    img {
        height: 55%;
    }
    figcaption {
        height: 45%
    }
    .logo {
        height: 70px;
        width: 60px;
        padding: 20px 0 5px 0;
    }
    nav ul {
        padding: 10px;
    }
    nav ul li a {
        font-size: 1.5rem;
    }
  }
/** mobile **/
@media screen and (max-width: 425px) {
    figure {
        width: 49%;
        height: 310px;
    }
    header {
        height: 12vh;
    }
    .logo {
        width: auto;
        height: 60px;
    }
    #home {
        margin: 12vh 0 0 0;
    }
    #home p {
        font-size: 1rem;
        width: 100%;
    }
    .attract {
        font-size: 1.2rem;
    }
    #product {
        margin-top: 0;
    }
    nav ul {
        margin-bottom: 0;
    }
    nav ul li a {
        font-size: 1.2rem;
    }
  }